/* entypo */
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before { font-family: 'entypo', sans-serif }

@font-face {
  font-family: 'Entypo';
  src: url('http://weloveiconfonts.com/api/?family=entypo') format('truetype');
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************************/


body {
	background-color: #f1f4f8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
  color: #515E69;
}
*, *:before, *:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Rounded', 'Montserrat', 'Open Sans', sans-serif;
	font-weight: 500;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1.page-title, h2.page-title, h3.page-title {color:#ff6161 !important;}

strong {font-weight:bold;}
a {color: #ff6161;text-decoration:none;cursor:pointer;}
p {line-height:1.5;}
p.page-content {margin:15px 0;}
.col.main p {font-size:1.2em;}
.muted {color:#999 !important;}

hr {
	border: none;
	color: #FFF;
	height: 3px;
	background: #E1E1E1;
}

.col .centered {text-align:center;}


/* BUTTON STYLE */
button.full, .button.full {width: 100%;}
button, .button {
	color: #FFF;
	font-family: 'Gotham Rounded', 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	border: medium none;
	padding: 10px 20px;
	font-size: 1em;
	margin: 8px 0px;
	border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in 0s;
}
button.green, .button.green {background-color: #1DCE79;}
button.green:hover, .button.green:hover {background-color: #22c577;}
button.green:active, .button.green:active {background-color: #2ca66c;}

button.red, .button.red {background-color: #e54040;}
button.red:hover, .button.red:hover  {background-color: #d83c3c;}
button.red:active, .button.red:active {background-color: #bf3535;}

button.orange, .button.orange {background-color: #CC6439;}
button.orange:hover, .button.orange:hover  {background-color: #c35d33;}
button.orange:active, .button.orange:active {background-color: #B45730;}

button.subscribe-button, button.unsubscribe-button {
  background-color: #8696A4;
}

#page_topbar {
	z-index: 100;
	width: 100%;
	vertical-align: top;
	background-color: #fff;
	color: #ff6161;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.topbar {
	width: 820px;
	margin: 0px auto;
	height: 48px;
}
#page_topbar .content {
	font-size: 1.08em;
	font-weight: bold;
	text-align: right;
}
.topbar .logo {
	font-size: 26px;
	position: absolute;
	top: 10px;
	margin-left: 5px;
}
.topbar .logo span {color: #ffcfcf;}
.topbar .topbar_item {
	display: inline-block;
	padding: 17px 10px;
	font-size: 14px;
}
.topbar .topbar_item:hover {background-color: #ffeaea;}
.topbar .topbar_item:active {color: #fff;background-color: #ff6161;}

.new-post {float: left;position: relative;top: 11px;left: 155px;font-size: 1.5em;}


#page_body {
	width: 820px;
	margin: 12px auto;
}
#page_body .content, #page_body .post {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	padding: 15px;
	margin-bottom: 10px;
}
#page_body .content .header {
	border-bottom: 1px solid #d6e2ec;
	padding-bottom: 6px;
	margin-bottom: 10px;
	color: #ff6161;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.4em;
}
#page_body .content .header span {color:#FFCFCF;}

#page_body .content .page_header {
	color: #ff6161;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.4em;
}

.container {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.small-container {
	min-width: 20rem;
	max-width: 40rem;
}

.small-container .container-title {
	background-color: #ff6161;
	color: #fff;
	text-align: center;
	padding: 24px 8px;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.small-container .container-title h1 {
	font-size: 28px;
}
.small-container .container-title h1 span{
	color: #ffcfcf;
}
.small-container .container-title h3 {
	font-size: 16px;
	padding-top: 5px;
	color: #FFCFCF;
}

.small-container .container-body {
	background-color: #fff;
	text-align: center;
	padding: 16px 24px;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.small-container .container-body h2 {
	color: #adafb2;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 400;
	padding: 14px 8px;
}
.small-container .container-body h3 {
	color: #98a8b5;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 400;
	padding: 0px 8px 14px;
}

.small-container .container-body input {
	width: 100%;
}

.small-container .container-outfooter {
	margin: 15px 0px 0px 0px;
	color: #6f879c;
	text-align: center;
}



/* RESPONSIVE DESIGN */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	max-width: 65rem;
}

.section.page, .section.footer {
	margin: 12px auto;
	padding: 0px 20px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	padding: 0px 0.4rem;
}
.col:first-child { margin-left: 0; }

.col.span_2_of_3 .span_1_of_2  { margin: 1% 0 1% .8%; }
.col.span_2_of_4 .span_1_of_2  { margin: 1% 0 1% .8%; }
.col.span_3_of_4 .span_1_of_2  { margin: 1% 0 1% .8%; }

.col.span_2_of_3 .span_2_of_2  { margin: 1% 0 1% .4%; }
.col.span_2_of_4 .span_2_of_2  { margin: 1% 0 1% .4%; }
.col.span_3_of_4 .span_2_of_2  { margin: 1% 0 1% .4%; }

.col.center{text-align:center;}

.col.full, .col.main, .col.side, .col.page-header {
	background-color: #fff;
	padding: 24px 20px;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.col > .col.main, .col > .col.side {
	margin: 0%;
	margin-bottom: 1%;
}

.col.header h2 {color: #FF6161;}
.col h4.header {margin: 10px 0px 15px;}
.col h1, .col h2, .col h3, .col h4, .col h5, .col h6 {
	color: #404A53;
}

/* CUSTOM COL STYLES */

.col.form input {width:100%;}
.col.form .form_errors {text-align:center;}

.col.feature p {margin-top:10px;}
.col.browser-pic.right {float:right;}
.col.browser-pic img {width:100%;max-width:489px;}

.col .coming-soon h1 {color:#ff6161;}
.col .coming-soon .icon {font-size:4em;color:#FEB5B5;}

/* CUSTOM GRID STYLES */

/* HEADER STYLES */
.page-header-title {
    margin: 2em 0;
    text-align: center;
    font-family: "Montserrat", "Open Sans", sans-serif;
}
.page-header-title h1 {font-size:3em;color:#ff6161;}
.page-header-title h2 {font-size:1.5em;color:#FEB5B5;}

/* FOOTER STYLES */
footer {}
footer ul {
  float: right;
}
footer ul li {
  display: inline;
  padding: 0 5px;
}

@media only screen and (max-width: 680px) {
  footer ul {
    float: left;
    width: 100%;
  }
}
